/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

/* Estilos específicos para el boleto */
.ticket {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ticket p {
    margin: 5px 0;
}

.ticket-info {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
    color: #333;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}
