:root {
    --background-color: #F8E6CF;
    --text-color: #7B3F00;
    --accent-color: #DCA77A;
    --link-hover-color: #2C3E50;
    --footer-text-color: white;
}

* {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
    border: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 600;
    padding: 15px;
}

li a:hover {
    background: var(--accent-color);
    transition: 0.6s;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--link-hover-color);
}

.body {
    background-color: var(--background-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.places {
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    flex: 1 1 300px;
    max-width: 300px;
}

.places img {
    width: 250px; /* Establece un ancho fijo */
    height: 250px; /* Establece una altura fija */
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor */
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.places img:hover {
    transform: scale(1.08);
}

.places h2 {
    color: var(--text-color);
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.places .res {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 30px;
    background-color: var(--link-hover-color);
    display: inline-block;
    margin-top: 10px;
}

.places a:hover {
    background-color: #fff;
    letter-spacing: 1px;
    transition: 0.6s;
    color: var(--link-hover-color);
}

footer {
    color: var(--footer-text-color);
    padding: 10px;
    text-align: center;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s;
}

.redes-sociales img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.redes-sociales a:hover {
    background-color: #ccc;
}
