*{
    background-color: #F8E6CF;
    color: #7B3F00; /* Esto hará que el texto sea blanco */
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: center;
}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #7B3F00; /* Esto hará que el texto del enlace sea blanco */
    font-weight: 600;
    padding: 15px;
}
li a:hover{
    background: #fff;
    transition: 0.6s;
    color: #7B3F00; /* Esto hará que el texto del enlace sea negro cuando se pase el mouse por encima */
}
.navbar a:hover{
    color: #7B3F00; /* Esto hará que el texto del enlace sea blanco cuando se pase el mouse por encima */
}
.about-us {
    background-color: #F8E6CF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.about-us h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us img {
    width: 500px;
    height: 300;
    border-radius: 15px;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
}
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.about-section:nth-child(even) {
    flex-direction: row-reverse;
}

.map-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #7B3F00;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.map-link:hover {
    background-color: #ccc;
}

::-webkit-scrollbar {
    display: none;
}
p {
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

footer p {
    color: #7B3F00;
    padding: 10px;
    text-align: center;
    
    
}
.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%; /* Para hacer los iconos redondos */
    padding: 10px;
    transition: background-color 0.3s; /* Transición para el hover */
  }
  .redes-sociales img {
    width: 40px; /* Ajusta el ancho de las imágenes */
    height: 40px; /* Ajusta la altura de las imágenes */
    border-radius: 50%; /* Para hacer las imágenes redondas */
  }
  
  .redes-sociales a:hover {
    background-color: #ccc; /* Cambiar el color de fondo en hover */
  }
